body{
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    background-color: bisque;
}


.container_1{
    width: 800px;
    margin-top: 300px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.box_2{
    width:40%;
    margin-bottom: 100px;
    margin-left: 20%;
    padding: 10px 20px 30px 40px;
    border:2px solid black;
}


.row_a{
    display: flex;
    flex-wrap: wrap;
}

.box_A{
    width: 45%;
     padding: 10px 20px 30px 40px;
    border: 2px solid black;
}


