body{
    font-family: 'Lato', sans-serif;
    background-color:azure;
    display:block;
    margin:auto;
}

.asd{
    margin-left: 800px;
    font-weight:900;
}

h1{
    margin-left: 500px;
    font-weight:900;
}

h4{
    margin-left: 500px;
    font-weight:900;
}

p{
    font-size: 20px;
    font-weight:700;
    margin-left: 500px;
    margin-right: 500px;
}


